{% load static %}

<!-- ##### About Area Start ##### -->
<section class="about-us-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-12" data-aos="fade-up">
                <div class="section-heading text-center">
                    <h2>Tentang MDBRANDSTORE</h2>
                </div>
                <p>
                <p class="text-center">MDBRANDSTORE merupakan toko barang branded pakaian yang telah lama
                    berkecimpung di dalam dunia usaha pakaian baik itu celana, baju, jaket, tas, sepatu dan lain
                    sebagainya. MDBRANDSTORE adalah toko barang branded dengan harga termurah dengan kualitas terbaik
                    yang bisa anda bandingkan dengan online shop lainnya</p>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-4 pt-4" data-aos="fade-up">
            <div class="col-12 col-lg-12">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="keung col-12 col-sm-4 col-lg-4">
                            <div class=" keung2 text-center">
                                <div class=" keung3 text-center p-4">
                                    <img src="{% static 'images/brand/brand1.png' %}" alt=""
                                         style="height: 60px">
                                </div>
                                <div>
                                    <h5 style="font-weight: bold"><u>Semua Barang Branded</u></h5>
                                    <p>Barang brand ternama dengan harga yang sangat terjangkau. dengan kualitas terbaik dari tangan pertama</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Benefits Area -->
                        <div class="keung col-12 col-sm-4 col-lg-4">
                            <div class=" keung2 text-center">
                                <div class=" keung3 text-center p-4">
                                    <img src="{% static 'images/brand/customer-service-247-86.png' %}" alt=""
                                         style="height: 60px">
                                </div>
                                <div>
                                    <h5 style="font-weight: bold"><u>Customer Service 24/7</u></h5>
                                    <p>Kami memiliki pelayanan customer service yang bisa melayani anda kapanpun dan
                                        dalam waktu apapun.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Benefits Area -->
                        <div class="keung col-12 col-sm-4 col-lg-4">
                            <div class=" keung2 text-center">
                                <div class=" keung3 text-center p-4">
                                    <img src="{% static 'images/brand/tanpa-ada-biaya-tambahan-38.png' %}" alt=""
                                         style="height: 60px">
                                </div>
                                <div>
                                    <h5 style="font-weight: bold"><u>Tanpa Ada Biaya Tambahan</u></h5>
                                    <p>Harga yang tertera sudah termasuk harga akhir, sehingga anda tidak perlu membayar
                                        biaya tambahan apapun.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->