{% load static %}
<!-- ##### Footer Area Start ##### -->
<footer id="footer" class="footer-area">
    <div class="main-footer-area" style="background: #eedec4">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-5">
                    <div class="border-line"></div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>Kontak Kami</h5>
                        </div>

                        <div class="contact-information">

                            <p>0812-3800-8786</p>
                        </div>
                        <div class="social-info">
                            <a href="https://www.facebook.com/Mdbrandstore-102373112636697" target="blank"><i class="fa fa-facebook"
                                                                                  aria-hidden="true"
                                                                                  style="color: #3b2c11; font-size: 30px;"></i></a>
                            <a href="https://instagram.com/mdbrandstorepku" target="blank"><i class="fa fa-instagram"
                                                                                            aria-hidden="true"
                                                                                            style="color: #3b2c11; font-size: 30px;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">

                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>Navigasi</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#produk">Produk Kami</a></li>
                                <li><a href="#testimoni">Testimoni</a></li>
                                <li><a href="#footer">Kontak</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area justify-content-center" style="background: #3b2c11">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line" style="background: #3b2c11"></div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="copywrite-text d-flex justify-content-center">
                        <div>
                            <p>Copyright ©
                                2022
                                MDBrandStore. All rights reserved
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->