{% load static %}
<section id="produk" class="section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Kategori Produk</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#56">
                    <div class="kate zoom"
                             style="background-image: url({% static 'images/produk_kategori/baju-kategori.jpeg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Baju Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#57">
                    <div class="kate zoom"
                         style="background-image: url({% static 'images/produk_kategori/clana-kategori.jpg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Celana Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#58">
                    <div class="kate zoom"
                         style="background-image: url({% static 'images/produk_kategori/jaket-kategori.jpg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Jaket Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#59">
                    <div class="kate zoom"
                         style="background-image: url({% static 'images/produk_kategori/rok-kategori.jpg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Rok Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#60">
                    <div class="kate zoom"
                         style="background-image: url({% static 'images/produk_kategori/sepatu-kategori.jpeg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Sepatu Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-up"
                 style="margin-bottom: 20px; overflow: hidden; border-radius: 10px;">
                <a href="#61">
                    <div class="kate zoom"
                         style="background-image: url({% static 'images/produk_kategori/tas-kategori.jpg' %}); background-size: cover; background-position: center; border-radius: 10px">
                        <div class="kate-overlay">
                            <p>Tas Branded</p>
                        </div>
                    </div>
                </a>
            </div>
            </a>
            </a>
        </div>
    </div>
</section>