{% load static %}
<div style="background-attachment: fixed; background-image: url('{% static 'images/galgal/ball-media-id-pusat-grosir-pakaian-import-murah--paket-usaha-bekas-terlengkap-22.jpg' %}');background-size: cover;background-repeat: no-repeat; position:relative; min-height: 100px">
    <div class="cta" style="min-height: 150px">
        <div class="container">
            <div class="row text-center align-items-center justify-content-center">
                <h3 class="text-white">Pusat Barang Branded dengan Harga Terjangkau </h3>
            </div>
            <div class="row text-center align-items-center justify-content-center">
                <a class="btn-cta"
                   href="https://api.whatsapp.com/send?phone=6281238008786&text=Halo%20saya%20mau%20order"
                   target="_blank"><i class="fa fa-whatsapp"></i> 0812-3800-8786 </a>
            </div>
        </div>
    </div>
</div>