{% load static %}


<!-- ##### Product Area Start ##### -->
<section id="56" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Baju Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/baju1.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">66 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Burberry</h6>
<!--                        <span class="price-sale">Rp. 28.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 28.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/baju2.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">35 % </a>-->
                        </div>


                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Nike</h6>
<!--                        <span class="price-sale">Rp. 7.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/baju3.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">50 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Versace</h6>
<!--                        <span class="price-sale">Rp. 3.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/baju4.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">11 % </a>-->
                        </div>


                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Puma</h6>
<!--                        <span class="price-sale">Rp. 4.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="57" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Celana Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2"
                                 src="{% static 'images/produk/celana1.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">43 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Chanel</h6>
<!--                        <span class="price-sale">Rp. 9.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/celana2.webp' %}"
                                 alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">55 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Burberry</h6>
<!--                        <span class="price-sale">Rp. 5.600.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 35.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/celana3.jpeg' %}"
                                 alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">48 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Levi's</h6>
<!--                        <span class="price-sale">Rp. 3.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/celana4.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">42 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Gucci</h6>
<!--                        <span class="price-sale">Rp. 3.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="58" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Jaket Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/jaket1.jpg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">13 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Supreme</h6>
<!--                        <span class="price-sale">Rp. 2.200.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 40.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/jaket2.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">32 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Zara </h6>
<!--                        <span class="price-sale">Rp. 2.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 40.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/jaket3.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">53 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Versace</h6>
<!--                        <span class="price-sale">Rp. 6.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 45.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/jaket4.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">22 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Prada</h6>
<!--                        <span class="price-sale">Rp. 2.200.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 40.000,-</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="59" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Rok Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">

                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/rok1.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">31 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Dior</h6>
<!--                        <span class="price-sale">Rp. 9.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/rok2.jpeg' %}"
                                 alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">36 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Zara</h6>
<!--                        <span class="price-sale">Rp. 25.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/rok3.jpeg' %}"
                                 alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">44 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Burberry</h6>
<!--                        <span class="price-sale">Rp. 9.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 25.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2"
                                 src="{% static 'images/produk/rok4.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">35 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Hermes</h6>
<!--                        <span class="price-sale">Rp. 5.700.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="60" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Sepatu Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/sepatu1.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">50 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Louis Vuitton</h6>
<!--                        <span class="price-sale">Rp. 9.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 60.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/sepatu2.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">26 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Nike Air Force</h6>
<!--                        <span class="price-sale">Rp. 55.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 50.600,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/sepatu3.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">42 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Adidas</h6>
<!--                        <span class="price-sale">Rp. 60.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 60.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/sepatu4.jpeg' %}"
                                 alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">35 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Onitsuka</h6>
<!--                        <span class="price-sale">Rp. 15.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 55.000,-</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="61" class="new-arrivals-products-area" style="padding-bottom: 100px;background: #f4e9d7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading2 text-center" data-aos="zoom-in-up">
                    <h2>Tas Branded</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/tas1.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">50 % </a>-->
                        </div>

                        <div class="product-meta">
                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Louis Vuitton</h6>
<!--                        <span class="price-sale">Rp. 3.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 35.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/tas2.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">20 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Hermes</h6>
<!--                        <span class="price-sale">Rp. 2.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/tas3.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">53 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Chanel</h6>
<!--                        <span class="price-sale">Rp. 1.500.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50" data-aos="zoom-in-up">
                    <div class="product-img">
                        <div style="overflow: hidden; border-radius: 10px;">
                            <img class="zoom2" src="{% static 'images/produk/tas4.jpeg' %}" alt="">
                        </div>

                        <div class="product-tag sale-tag">
<!--                            <a href="#">50 % </a>-->
                        </div>

                        <div class="product-meta">

                        </div>
                    </div>
                    <div class="product-info mt-15 text-center">
                        <h6>Zara</h6>
<!--                        <span class="price-sale">Rp. 5.000.000,-</span>-->
                        <span style="font-weight: 600;">Rp. 30.000,-</span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ##### Product Area End ##### -->
