{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- ***** Navbar Area ***** -->
    <div class="alazea-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar " id="alazeaNav">
                    <!-- Nav Brand -->
                    <a href="index.html" class="nav-brand"><img src="{% static 'images/logo.png' %}"
                                                                style="height: 70px" alt=""></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">Tentang Kami</a></li>
                                <li><a href="#produk">Produk Kami</a></li>
                                <li><a href="#testimoni">Testimoni</a></li>
                                <li><a href="#footer">Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->