{% load static %}

<link rel="stylesheet" href="{% static 'cdnjs/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' %}"/>

<link href="{% static 'unpkg/aos/dist/aos.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/lightgallery.css' %}"/>

<link rel="stylesheet" href="{% static 'assets/style3124.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/mycss.css' %}"/>
